$btn-add-primary-color: #0796d3;
$btn-add-secondary-color: #53c0f0;
$btn-del-primary-color: #d30707;
$btn-del-secondary-color: #f05353;
$button-border-radius: 8px;
$button-modal-width: 185px;
$button-default-height: 51px;

$modal-shadow-color: #1018282e;
$modal-box-shadow: 0px 24px 48px -12px $modal-shadow-color;
$modal-backdrop-color: #ffffffcc;

$input-border-radius: 8px;
$input-padding: 8px;
$input-height: 51px;
$dashed-border-color: #d7dde9;

$light-border-color: #eaecf0;
$light-background-color: #ffffff;
$hover-background-color: rgba(247, 249, 253, 1);
$font-color-muted: rgba(0, 0, 0, 0.54);
$font-size-small: 16px;
$font-size-large: 24px; 
$text-color-grey: #0000008A;

$gap-large: 24px;
$gap-medium: 20px;
$gap-small: 16px;
$padding-large: 32px;

$width-sm: 272px;
$container-border-radius: 16px;
$container-box-shadow: 0px 1px 2px 0px #1018280d;
$container-width: 450px;
